{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-sm alert-{{ message.tags }} alert-dismissible fade show" {% endif %}
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<style>
    .alert {
        transition: opacity 1s ease-out;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(() => {
            let alerts = document.querySelectorAll('.alert');
            alerts.forEach((alert) => {
                alert.classList.remove('show');
                alert.classList.add('fade');
                setTimeout(() => {
                    alert.remove();
                }, 1000);
            });
        }, 3000); // 3 seconds
    });
</script>