{% load static %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Expenses App</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav flex-row">
        <div class="nav-item text-nowrap d-flex align-items-center">
            <span class="nav-link px-3 text-white">{{ user.username }} <span class="d-none d-md-inline">- {{ user.email }}</span></span>
            <form action="{% url 'logout' %}" method="post" class="ms-2">
                {% csrf_token %}
                <input type="submit" class="btn btn-dark text-capitalize ms-3" value="Logout" />
            </form>
        </div>
    </div>
</header>
