{% extends 'base.html' %}

{% block content %}

<div class="container my-3 mt-3">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'expense-delete' expense.id %}" class="btn btn-danger">Delete</a>
        </div>
        <form action="{% url 'expense-edit' expense.id %}" method="post">
            {% include 'partials/_messages.html' %}
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
                        <input type="number" class="form-control" name="amount" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" value="{{ values.amount}}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                        <input type="text" class="form-control" name="description" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" value="{{ values.description}}">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Category</label>
                        <select class="form-select" name="category" id="inputGroupSelect01">
                            {% if values.category %}
                            <option selected value="{{ values.category }}">{{ values.category }}</option>
                            {% else %}
                            <option selected>Choose...</option>
                            {% endif %}
                            {% for category in categories %}
                            <option name="category" value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date of expense</span>
                        <input type="date" class="form-control" name="date" aria-label="Sizing example input"
                            value="{{ values.date|date:'Y.m.d' }}" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}