{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-title">
                <h4 class="text-center py-2">Login Account</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}

                    <div class="form-group py-2">
                        <input type="username" name="username" id="usernameField" class="form-control form-control-sm"
                            placeholder="Username" >
                    </div>

                    <div class="form-group py-2 d-flex ">
                        <input type="password" name="password" id="passwordField"
                            class="form-control form-control-sm justify-content-start" placeholder="Password" >
                        <small class="py-2 justify-content-end showPasswordToggle" id="showPasswordToggle">Show</small>
                    </div>
                    <div class="password-error invalid-feedback" style="display:none">

                    </div>
                    <div class="d-grid gap-2 mx-auto ">
                        <input type="submit" value="Login" class="btn btn-outline-primary submit-btn">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>

<script>
    document.querySelector("#showPasswordToggle").addEventListener("click", handleToggleInput);
    function handleToggleInput() {
        if (passwordField.type === "password") {
            passwordField.type = "text";
            showPasswordToggle.innerHTML = "Hide";
        } else {
            passwordField.type = "password";
            showPasswordToggle.innerHTML = "Show";
        }
    }
</script>


{% endblock content %}