{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-title">
                <h4 class="text-center py-2">Please enter new password</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}

                    <div class="form-group py-2">
                        <label for="passwordField">Password</label>
                        <input type="password" name="password" id="passwordField" class="form-control form-control-sm"
                            placeholder="password" value="{{ fieldValues.password }}">
                    </div>
                    <div class="form-group py-2">
                        <label for="password2Field">Retype Password</label>
                        <input type="password" name="password2" id="password2Field" class="form-control form-control-sm"
                            placeholder="password2" value="{{ fieldValues.password2 }}">
                    </div>

                    <div class="d-grid gap-2 mx-auto ">
                        <input type="submit" value="Reset Password" class="btn btn-outline-primary submit-btn">
                    </div>

                </form>
            </div>
            <div class="container card-footer text-center">
                <span>Do have an account? <a href="{% url 'login' %}">Login</a></span>
            </div>

        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>
{% endblock content %}