{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>Django Expenses
        {% block title %}{% endblock %}
    </title>
    {% include 'partials/_cssfile.html' %}
</head>

<body>
    {% include 'partials/_navbar.html' %}

    {% include 'partials/_sidebar.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% block content %}

        {% endblock %}
    </main>

    {% include 'partials/_jsfile.html' %}
</body>

</html>